@media screen and (max-width:340px) {
    .style_icon_a {
        width: 50px;
        height: 50px;
        background-size: 55px !important;
        border: 2px ridge rgb(247,170,150);
        border-radius: 10px;    
        background-position: -5px -5px !important;    
    }
    .style_icon_s {
        width: 50px;
        height: 50px;
        background-size: 55px !important;
        border: 2px ridge rgb(200,224,234);
        border-radius: 10px;    
        background-position: -5px -5px !important;    
    }
    .style_icon_ss {
        width: 50px;
        height: 50px;
        background-size: 55px !important;
        border: 2px ridge rgb(246,236,100);
        border-radius: 10px;    
        background-position: -5px -5px !important;
    }
    .icon_bg_ss{
        background:url(http://romasagatool.com/img/bg_ss.png);
        background-size:  10px !important;
        display: inline-block;
        border-radius: 10px;
        height: 45px;
    }
    .icon_bg_s{
        background:url(http://romasagatool.com/img/bg_s.png);
        background-size:  10px !important;
        display: inline-block;
        border-radius: 10px;
        height: 45px;
    }
    .icon_bg_a{
        background:url(http://romasagatool.com/img/bg_a.png);
        background-size:  10px !important;
        display: inline-block;
        border-radius: 10px;
        height: 45px;
    }
    .style_icon_a_middle {
        width: 35px;
        height: 35px;
        background-size: 35px !important;
        background-position: -2px -2px !important;
        border-radius: 3px;
        border: 1px ridge rgb(247,170,150);
    }
    .style_icon_s_middle {
        width: 35px;
        height: 35px;
        background-size: 35px !important;
        background-position: -2px -2px !important;
        border-radius: 3px;
        border: 1px ridge rgb(200,224,234);
    }
    .style_icon_ss_middle {
        width: 35px;
        height: 35px;
        background-size: 35px !important;
        background-position: -2px -2px !important;
        border-radius: 3px;
        border: 21x ridge rgb(246,236,100);
    }
    .icon_bg_a_middle{
        background:url(http://romasagatool.com/img/bg_a.png);
        background-size:  10px !important;
        display: inline-block;
        border-radius: 10px;
        height: 25px;
    }
    .icon_bg_ss_middle{
        background:url(http://romasagatool.com/img/bg_ss.png);
        background-size:  10px !important;
        display: inline-block;
        border-radius: 10px;
        height: 25px;
    }
    .icon_bg_s_middle{
        background:url(http://romasagatool.com/img/bg_s.png);
        background-size:  10px !important;
        display: inline-block;
        border-radius: 10px;
        height: 25px;
    }
    .icon_mini_zokusei { 
        display: inline-block;
        width: 25px;
        height: 25px;
        background-size: cover !important;
        margin: 0 0 0 0px;
    }
    .icon_mini_zokusei_checker { 
        display: inline-block;
        width: 25px;
        height: 25px;
        background-size: cover !important;
        margin: 0 0 0 0px;
    }
}
@media screen and (min-width:340px) {
    .style_icon_a {
        width: 80px;
        height: 80px;
        border: 5px ridge rgb(247,170,150);
        border-radius: 10px;    
        background-size: 80px !important;
        background-position: -5px -5px !important;    
    }
    .style_icon_s {
        width: 80px;
        height: 80px;
        border: 5px ridge rgb(200,224,234);
        border-radius: 10px;    
        background-size: 80px !important;
        background-position: -5px -5px !important;    
    }
    .style_icon_ss {
        width: 80px;
        height: 80px;
        border: 5px ridge rgb(246,236,100);
        border-radius: 10px;    
        background-size: 80px !important;
        background-position: -5px -5px !important;
    }
    .icon_bg_ss{
        background:url(http://romasagatool.com/img/bg_ss.png);
        background-size:  10px !important;
        display: inline-block;
        border-radius: 10px;
        height: 75px;
    }
    .icon_bg_s{
        background:url(http://romasagatool.com/img/bg_s.png);
        background-size:  10px !important;
        display: inline-block;
        border-radius: 10px;
        height: 75px;
    }
    .icon_bg_a{
        background:url(http://romasagatool.com/img/bg_a.png);
        background-size:  10px !important;
        display: inline-block;
        border-radius: 10px;
        height: 75px;
    }
    .style_icon_a_middle {
        width: 50px;
        height: 50px;
        background-size: 50px !important;
        background-position: -2px -2px !important;
        border-radius: 5px;
        border: 2px ridge rgb(247,170,150);
    }
    .style_icon_s_middle {
        width: 50px;
        height: 50px;
        background-size: 50px !important;
        background-position: -2px -2px !important;
        border-radius: 5px;
        border: 2px ridge rgb(200,224,234);
    }
    .style_icon_ss_middle {
        width: 50px;
        height: 50px;
        background-size: 50px !important;
        background-position: -2px -2px !important;
        border-radius: 5px;
        border: 2px ridge rgb(246,236,100);
    }
    .icon_bg_a_middle{
        background:url(http://romasagatool.com/img/bg_a.png);
        background-size:  10px !important;
        display: inline-block;
        border-radius: 10px;
        height: 45px;
    }
    .icon_bg_ss_middle{
        background:url(http://romasagatool.com/img/bg_ss.png);
        background-size:  10px !important;
        display: inline-block;
        border-radius: 10px;
        height: 45px;
    }
    .icon_bg_s_middle{
        background:url(http://romasagatool.com/img/bg_s.png);
        background-size:  10px !important;
        display: inline-block;
        border-radius: 10px;
        height: 45px;
    }
    .icon_mini_zokusei { 
        display: inline-block;
        width: 35px;
        height: 35px;
        background-size: cover !important;
        margin: 0 0 0 0px;
    }    
    .icon_mini_zokusei_checker { 
        display: inline-block;
        width: 30px;
        height: 30px;
        background-size: cover !important;
        margin: 0 0 0 0px;
    }    
}

.icon_mini { 
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover !important;
    margin: 0 0 0 0px;
}

.icon_xs_zokusei { 
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover !important;
    margin: 0 0 0 0px;
}

.style_icon_a_small {
    width: 30px;
    height: 30px;
    background-size: 30px !important;
    background-position: -2px -2px !important;
    border-radius: 5px;
    border: 2px ridge rgb(247,170,150);
}
.bg_a{
    background-color: rgb(247,170,150);
}

.style_icon_s_small {
    width: 30px;
    height: 30px;
    background-size: 30px !important;
    background-position: -2px -2px !important;
    border-radius: 5px;
    border: 2px ridge rgb(200,224,234);
}
.bg_s{
    background-color: rgb(200,224,234);;
}

.style_icon_ss_small {
    width: 30px;
    height: 30px;
    background-size: 30px !important;
    background-position: -2px -2px !important;
    border-radius: 5px;
    border: 2px ridge rgb(246,236,100);
}

.bg_ss{
    background-color: rgb(246,236,100);
}
@media (max-width: 576px) {
    .icon_xs {
        display: inline-block;
        width:20px !important;
        height:20px !important;
        background-size: cover !important;
        margin: 0 0 0 0px;
    }    
    .icon_sm {
        display: inline-block;
        width: 30px !important;
        height: 30px !important;
        background-size: cover !important;
        margin: 0 0 0 0px;
    }
    .icon_sm_buf {
        display: inline-block;
        width: 28px !important;
        height: 28px !important;
        background-size: 26px !important;
        margin: 0 0 0 0px;
    }
    .cutin { 
        display: inline-block;
        width: 200px;
        height: 50px;
        background-size: cover !important;
        margin: 0 0 0 0px;
    }
    .icon_btn_on {
        padding-top: 5px;
        display: inline-block;
        height:40px;
        width: 130px;
        background-size: 150px 40px;
        color: #faf0b4;
        -webkit-appearance: none;
        border: 0px;
        background:url(http://romasagatool.com/img/icon/icon_button_on.png) no-repeat;
    }
    .icon_btn_off {
        padding-top: 5px;
        display: inline-block;
        height:40px;
        width: 130px;
        background-size: 150px 40px;
        color: #faf0b4;
        -webkit-appearance: none;
        border: 0px;
        background:url(http://romasagatool.com/img/icon/icon_button_off.png) no-repeat;
    }
    .icon_btn_red {
        padding-top: 5px;
        display: inline-block;
        height:40px;
        width: 130px;
        background-size: 150px 40px;
        color: #faf0b4;
        -webkit-appearance: none;
        border: 0px;
        background:url(http://romasagatool.com/img/icon/icon_button_red.png) no-repeat;
    }
}
@media screen and (min-width: 576px) { 
    .icon_xs { 
        display: inline-block;
        width: 25px !important;
        height: 25px !important;
        background-size: cover !important;
        margin: 0 0 0 0px;
    }
    .icon_sm {
        display: inline-block;
        width: 35px !important;
        height: 35px !important;
        background-size: cover !important;
        margin: 0 0 0 0px;
    }    
    .icon_sm_buf {
        display: inline-block;
        width: 35px !important;
        height: 35px !important;
        background-size: cover !important;
        margin: 0 0 0 0px;
    }
    .cutin { 
        display: inline-block;
        width: 250px;
        height: 50px;
        background-size: cover !important;
        margin: 0 0 0 0px;
    }
    .icon_btn_on {
        background:url(http://romasagatool.com/img/icon/icon_button_on.png) no-repeat;
        padding-top: 5px;
        display: inline-block;
        height:40px;
        width:200px; 
        background-size: 200px 40px;
        color: #faf0b4;
        -webkit-appearance: none;
        border: 0px;
    }
    .icon_btn_off {
        background:url(http://romasagatool.com/img/icon/icon_button_off.png) no-repeat;
        padding-top: 5px;
        display: inline-block;
        height:40px;
        width:200px; 
        background-size: 200px 40px;        
        color: #faf0b4;
        -webkit-appearance: none;
        border: 0px;
    }
    .icon_btn_red {
        background:url(http://romasagatool.com/img/icon/icon_button_red.png) no-repeat;
        padding-top: 5px;
        display: inline-block;
        height:40px;
        width:200px; 
        background-size: 200px 40px;        
        color: #faf0b4;
        -webkit-appearance: none;
        border: 0px;
    }
}
.icon_info {
    background:url(http://romasagatool.com/img/icon/icon_info.png) no-repeat;
    background-size: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    border: 0px;
}
.icon_info_md {
    background:url(http://romasagatool.com/img/icon/icon_info.png) no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    -webkit-appearance: none;
    border: 0px;
}



.icon_buff_str{        background:url(http://romasagatool.com/img/icon/icon_buf_str.png) no-repeat;}
.icon_debuff_str{        background:url(http://romasagatool.com/img/icon/icon_debuf_str.png) no-repeat;}
.icon_buff_vit{        background:url(http://romasagatool.com/img/icon/icon_buf_vit.png) no-repeat;}
.icon_debuff_vit{        background:url(http://romasagatool.com/img/icon/icon_debuf_vit.png) no-repeat;}
.icon_buff_dex{        background:url(http://romasagatool.com/img/icon/icon_buf_dex.png) no-repeat;}
.icon_debuff_dex{        background:url(http://romasagatool.com/img/icon/icon_debuf_dex.png) no-repeat;}
.icon_buff_agi{        background:url(http://romasagatool.com/img/icon/icon_buf_agi.png) no-repeat;}
.icon_debuff_agi{        background:url(http://romasagatool.com/img/icon/icon_debuf_agi.png) no-repeat;}
.icon_buff_int{        background:url(http://romasagatool.com/img/icon/icon_buf_int.png) no-repeat;}
.icon_debuff_int{        background:url(http://romasagatool.com/img/icon/icon_debuf_int.png) no-repeat;}
.icon_buff_mnd{        background:url(http://romasagatool.com/img/icon/icon_buf_mnd.png) no-repeat;}
.icon_debuff_mnd{        background:url(http://romasagatool.com/img/icon/icon_debuf_mnd.png) no-repeat;}
.icon_buff_ai{        background:url(http://romasagatool.com/img/icon/icon_buf_ai.png) no-repeat;}
.icon_debuff_ai{        background:url(http://romasagatool.com/img/icon/icon_debuf_ai.png) no-repeat;}
.icon_buff_mi{        background:url(http://romasagatool.com/img/icon/icon_buf_mi.png) no-repeat;}
.icon_debuff_mi{        background:url(http://romasagatool.com/img/icon/icon_debuf_mi.png) no-repeat;}

.icon_ken {    background:url(http://romasagatool.com/img/icon/icon_ken.png) no-repeat; }
.icon_dken {    background:url(http://romasagatool.com/img/icon/icon_dken.png) no-repeat; }
.icon_sken {    background:url(http://romasagatool.com/img/icon/icon_sken.png) no-repeat; }
.icon_ono {    background:url(http://romasagatool.com/img/icon/icon_ono.png) no-repeat; }
.icon_yari {    background:url(http://romasagatool.com/img/icon/icon_yari.png) no-repeat; }
.icon_yumi {    background:url(http://romasagatool.com/img/icon/icon_yumi.png) no-repeat; }
.icon_kon {    background:url(http://romasagatool.com/img/icon/icon_kon.png) no-repeat; }
.icon_tai {    background:url(http://romasagatool.com/img/icon/icon_tai.png) no-repeat; }
.icon_ju {    background:url(http://romasagatool.com/img/icon/icon_ju.png) no-repeat; }
.icon_tsue {    background:url(http://romasagatool.com/img/icon/icon_tsue.png) no-repeat; }
.icon_hi {    background:url(http://romasagatool.com/img/icon/icon_hi.png) no-repeat; }
.icon_mizu {    background:url(http://romasagatool.com/img/icon/icon_mizu.png) no-repeat; }
.icon_tsuchi {    background:url(http://romasagatool.com/img/icon/icon_tsuchi.png) no-repeat; }
.icon_kaze {    background:url(http://romasagatool.com/img/icon/icon_kaze.png) no-repeat; }
.icon_hikari {    background:url(http://romasagatool.com/img/icon/icon_hikari.png) no-repeat; }
.icon_yami {    background:url(http://romasagatool.com/img/icon/icon_yami.png) no-repeat; }
.icon_b {    background:url(http://romasagatool.com/img/icon/icon_b.png) no-repeat; }
.icon_a {    background:url(http://romasagatool.com/img/icon/icon_a.png) no-repeat; }
.icon_s {    background:url(http://romasagatool.com/img/icon/icon_s.png) no-repeat; }
.icon_ss {    background:url(http://romasagatool.com/img/icon/icon_ss.png) no-repeat; }
.icon_zan {    background:url(http://romasagatool.com/img/icon/icon_zan.png) no-repeat; }
.icon_da {    background:url(http://romasagatool.com/img/icon/icon_da.png) no-repeat; }
.icon_totsu {    background:url(http://romasagatool.com/img/icon/icon_totsu.png) no-repeat; }
.icon_netsu {    background:url(http://romasagatool.com/img/icon/icon_netsu.png) no-repeat; }
.icon_rei {    background:url(http://romasagatool.com/img/icon/icon_rei.png) no-repeat; }
.icon_rai {    background:url(http://romasagatool.com/img/icon/icon_rai.png) no-repeat; }
.icon_in {    background:url(http://romasagatool.com/img/icon/icon_in.png) no-repeat; }
.icon_yo {    background:url(http://romasagatool.com/img/icon/icon_yo.png) no-repeat; }
.icon_doku {    background:url(http://romasagatool.com/img/icon/icon_doku.png) no-repeat; }
.icon_mahi {    background:url(http://romasagatool.com/img/icon/icon_mahi.png) no-repeat; }
.icon_konran {    background:url(http://romasagatool.com/img/icon/icon_konran.png) no-repeat; }
.icon_stan {    background:url(http://romasagatool.com/img/icon/icon_stan.png) no-repeat; }
.icon_miryo {    background:url(http://romasagatool.com/img/icon/icon_miryo.png) no-repeat; }
.icon_kizetsu {    background:url(http://romasagatool.com/img/icon/icon_kizetsu.png) no-repeat; }
.icon_kyosenshi {    background:url(http://romasagatool.com/img/icon/icon_kyosenshi.png) no-repeat; }
.icon_kurayami {    background:url(http://romasagatool.com/img/icon/icon_kurayami.png) no-repeat; }
.icon_sekika {    background:url(http://romasagatool.com/img/icon/icon_sekika.png) no-repeat; }
.icon_zzz {    background:url(http://romasagatool.com/img/icon/icon_zzz.png) no-repeat; }

.icon_bsand {   background:url(http://romasagatool.com/img/icon/icon_kakusei_bsand.png) no-repeat; }
.icon_gsand {   background:url(http://romasagatool.com/img/icon/icon_kakusei_gsand.png) no-repeat; }
.icon_ksand {   background:url(http://romasagatool.com/img/icon/icon_kakusei_ksand.png) no-repeat; }
.icon_osand {   background:url(http://romasagatool.com/img/icon/icon_kakusei_osand.png) no-repeat; }
.icon_psand {   background:url(http://romasagatool.com/img/icon/icon_kakusei_psand.png) no-repeat; }
.icon_rsand {   background:url(http://romasagatool.com/img/icon/icon_kakusei_rsand.png) no-repeat; }
.icon_wsand {   background:url(http://romasagatool.com/img/icon/icon_kakusei_wsand.png) no-repeat; }
.icon_ysand {   background:url(http://romasagatool.com/img/icon/icon_kakusei_ysand.png) no-repeat; }
.icon_bstone {   background:url(http://romasagatool.com/img/icon/icon_kakusei_bstone.png) no-repeat; }
.icon_gstone {   background:url(http://romasagatool.com/img/icon/icon_kakusei_gstone.png) no-repeat; }
.icon_kstone {   background:url(http://romasagatool.com/img/icon/icon_kakusei_kstone.png) no-repeat; }
.icon_ostone {   background:url(http://romasagatool.com/img/icon/icon_kakusei_ostone.png) no-repeat; }
.icon_pstone {   background:url(http://romasagatool.com/img/icon/icon_kakusei_pstone.png) no-repeat; }
.icon_rstone {   background:url(http://romasagatool.com/img/icon/icon_kakusei_rstone.png) no-repeat; }
.icon_wstone {   background:url(http://romasagatool.com/img/icon/icon_kakusei_wstone.png) no-repeat; }
.icon_ystone {   background:url(http://romasagatool.com/img/icon/icon_kakusei_ystone.png) no-repeat; }
.icon_bjewel {   background:url(http://romasagatool.com/img/icon/icon_kakusei_bjewel.png) no-repeat; }
.icon_gjewel {   background:url(http://romasagatool.com/img/icon/icon_kakusei_gjewel.png) no-repeat; }
.icon_kjewel {   background:url(http://romasagatool.com/img/icon/icon_kakusei_kjewel.png) no-repeat; }
.icon_ojewel {   background:url(http://romasagatool.com/img/icon/icon_kakusei_ojewel.png) no-repeat; }
.icon_pjewel {   background:url(http://romasagatool.com/img/icon/icon_kakusei_pjewel.png) no-repeat; }
.icon_rjewel {   background:url(http://romasagatool.com/img/icon/icon_kakusei_rjewel.png) no-repeat; }
.icon_wjewel {   background:url(http://romasagatool.com/img/icon/icon_kakusei_wjewel.png) no-repeat; }
.icon_yjewel {   background:url(http://romasagatool.com/img/icon/icon_kakusei_yjewel.png) no-repeat; }

.icon_keisho_e { 
    display: inline-block;
    background:url(http://romasagatool.com/img/icon/icon_keisho_e.png) no-repeat;
    width: 28px;
    height: 14px;
    background-size: cover !important;
    margin: 0 0 0 0px;
}

.icon_rare_large {
    width:46px;
    height:46px;
    display: inline-block;
}