@import url("char_anime2.css");
@import url("icon2.css");
@import url("git.css");
@import url("loading.css");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

.card {
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.7);
}
.overflow-x-scroll {
    overflow-x: scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}
.overflow-x-scroll::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

@media screen and (max-width:330px) {
    .d-320-none {
        display: none !important;
    }
}
.login-card{
    position:absolute; right:15px; font-size:10px;        
}
.info-card{
    position:absolute; right:15px; font-size:10px; bottom: 5px;        
}

html {
    touch-action: manipulation;
}

.header-area {
    background: url(https://nao-romasaga.github.io/img/bg.jpg);
    background-size: cover;
    background-position-y: -100px;
}
.header-image {
    width: 100%;
    max-width: 1140px;
    height: 105px;    
    margin: auto;
    position:relative;
}
.site-header {
    position: absolute;
    height: 54px;
    width: 100%;
    background-color: rgba(241,233,143,1);
    border-bottom: 4px solid rgba(70,55,30,1);
    padding: 0px;
    z-index: 3;
    overflow-x: scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}
.site-header::-webkit-scrollbar { 
    display:none; /* Chrome, Safari 対応 */
}

.menu-item > a:link,
.menu-item > a:visited,
.menu-item > a:hover,
.menu-item > a:active {
  color: inherit;
}
.site-header > ul {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.site-header.fixed{
    position: fixed;
    top: 0;
    opacity: 0.8;
}
.site-header.hide{
    /*top: -63px;*/
    opacity: 0.8;
}
.user-menu-item {
    margin-left: auto;
}
.menu-item {
    font-size: 14px;
    padding: 0px 8px;
}

.menu-item:not(:first-of-type) {
    border-left: 1px solid darkgoldenrod;
}
.dropdown-item:not(:first-of-type) {
    border-left: 1px solid darkgoldenrod;
}
.dropdown-item {
    position: absolute;
    z-index: 100;
    background-color: rgba(241,233,143,1);
    padding: 3px;
    width: 160px;
    left: 0px;
}

.dropdown > a:nth-of-type(1) { left:calc(160px * -1.5); }
.dropdown > a:nth-of-type(2) { left:calc(160px * -0.5); }
.dropdown > a:nth-of-type(3) { left:calc(160px * 0.5); }
.dropdown > a:nth-of-type(4) { left:calc(160px * 1.5); }

.yubi {
    cursor : pointer;
}

.bgcolor-brawn {
    background-color: rgba(70,55,30,1);
    color: #faf0b4;
}
.radius-small {
    border-radius: 5px;
}
.margin-bottom5{
    margin-bottom: 5px;
}
.status_question{
    font-size: 20px;
    background-color: rgba(224 , 224,100, 1);
    color: black;
}
.maxCol {
    background-color:darkblue;
}
.odd-row:nth-child(2n-1) {
    background-color: rgba(255, 255, 255, 0.1);
}
.game-font{
    color: yellow;
    background: -webkit-linear-gradient(90deg,#beaa5a,yellow, #f5f0c3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}


.filter-bgcolor {
    background-color: rgba(50,50,50,0.8);
    backdrop-filter: blur(5px);
    border: 3px solid rgb(197,187,147);
    border-radius: 10px;
    padding: 5px;
}
.weapon-bgcolor {
    background-color: rgba(0,0,0,0.8);
    border: 3px solid rgb(197,187,147);
    color: #faf0b4;
    border-radius: 10px;
    padding: 5px;
}
.weapon-bgcolor td {
    vertical-align: middle;
}
.info-modal {
    padding: 5px 20px 50px 20px;
    background: 
    url(https://romasagatool.com/img/bg_modal_corner1.png) top left / 120px 90px no-repeat,
    url(https://romasagatool.com/img/bg_modal_corner2.png) top right / 120px 90px no-repeat,
    url(https://romasagatool.com/img/bg_modal_corner3.png) bottom left / 120px 90px no-repeat,
    url(https://romasagatool.com/img/bg_modal_corner4.png) bottom right / 120px 90px no-repeat,
    url(https://romasagatool.com/img/bg_modal_top.png) top / calc(100% - 80px) 90px no-repeat,
    url(https://romasagatool.com/img/bg_modal_btm.png) bottom / calc(100% - 80px) 90px no-repeat,
    url(https://romasagatool.com/img/bg_modal_left.png) left / 120px calc(100% - 80px)  no-repeat,
    url(https://romasagatool.com/img/bg_modal_right.png) right / 120px calc(100% - 80px)  no-repeat,
    url(https://romasagatool.com/img/bg_modal_center.png) center / calc(100% - 80px) calc(100% - 80px)  no-repeat;
    /* color: #faf0b4; */
}
.bg-common-frame {
    padding: 20px;
    background: 
    url(https://romasagatool.com/img/bg_common_frame_corner1.png) top left / 40px 40px no-repeat,
    url(https://romasagatool.com/img/bg_common_frame_corner2.png) top right / 40px 40px no-repeat,
    url(https://romasagatool.com/img/bg_common_frame_corner3.png) bottom left / 40px 40px no-repeat,
    url(https://romasagatool.com/img/bg_common_frame_corner4.png) bottom right / 40px 40px no-repeat,
    url(https://romasagatool.com/img/bg_common_frame_top.png) top / calc(100% - 40px) 40px no-repeat,
    url(https://romasagatool.com/img/bg_common_frame_btm.png) bottom / calc(100% - 40px) 40px no-repeat,
    url(https://romasagatool.com/img/bg_common_frame_left.png) left / 40px calc(100% - 40px)  no-repeat,
    url(https://romasagatool.com/img/bg_common_frame_right.png) right / 40px calc(100% - 40px)  no-repeat,
    url(https://romasagatool.com/img/bg_common_frame_center.png) center / calc(100% - 40px) calc(100% - 40px)  no-repeat;
}
.bg-common-window {
    padding: 20px;
    color:beige;
    background: 
    url(https://romasagatool.com/img/bg_common_window_corner1.png) top left / 40px 20px no-repeat,
    url(https://romasagatool.com/img/bg_common_window_corner2.png) top right / 40px 20px no-repeat,
    url(https://romasagatool.com/img/bg_common_window_corner3.png) bottom left / 40px 20px no-repeat,
    url(https://romasagatool.com/img/bg_common_window_corner4.png) bottom right / 40px 20px no-repeat,
    url(https://romasagatool.com/img/bg_common_window_top.png) top / calc(100% - 78px) 20px no-repeat,
    url(https://romasagatool.com/img/bg_common_window_btm.png) bottom / calc(100% - 78px) 20px no-repeat,
    url(https://romasagatool.com/img/bg_common_window_left.png) left / 40px calc(100% - 38px)  no-repeat,
    url(https://romasagatool.com/img/bg_common_window_right.png) right / 40px calc(100% - 38px)  no-repeat,
    url(https://romasagatool.com/img/bg_common_window_center.png) center / calc(100% - 78px) calc(100% - 38px)  no-repeat;
}
.bg-black-frame {
    padding: 20px;
    background: 
    url(https://romasagatool.com/img/bg_black_frame_corner1.png) top left / 40px 40px no-repeat,
    url(https://romasagatool.com/img/bg_black_frame_corner2.png) top right / 40px 40px no-repeat,
    url(https://romasagatool.com/img/bg_black_frame_corner3.png) bottom left / 40px 40px no-repeat,
    url(https://romasagatool.com/img/bg_black_frame_corner4.png) bottom right / 40px 40px no-repeat,
    url(https://romasagatool.com/img/bg_black_frame_top.png) top / calc(100% - 80px) 40px no-repeat,
    url(https://romasagatool.com/img/bg_black_frame_btm.png) bottom / calc(100% - 80px) 40px no-repeat,
    url(https://romasagatool.com/img/bg_black_frame_left.png) left / 40px calc(100% - 80px)  no-repeat,
    url(https://romasagatool.com/img/bg_black_frame_right.png) right / 40px calc(100% - 80px)  no-repeat,
    url(https://romasagatool.com/img/bg_black_frame_center.png) center / calc(100% - 80px) calc(100% - 80px)  no-repeat;
}
.bg-black-half {
    padding: 5px 20px 10px 20px;
    background: 
    url(https://romasagatool.com/img/bg_blackhalf_corner1.png) top left / 40px 40px no-repeat,
    url(https://romasagatool.com/img/bg_blackhalf_corner2.png) top right / 40px 40px no-repeat,
    url(https://romasagatool.com/img/bg_blackhalf_corner3.png) bottom left / 40px 40px no-repeat,
    url(https://romasagatool.com/img/bg_blackhalf_corner4.png) bottom right / 40px 40px no-repeat,
    url(https://romasagatool.com/img/bg_blackhalf_top.png) top / calc(100% - 80px) 40px no-repeat,
    url(https://romasagatool.com/img/bg_blackhalf_btm.png) bottom / calc(100% - 80px) 40px no-repeat,
    url(https://romasagatool.com/img/bg_blackhalf_left.png) left / 40px calc(100% - 80px)  no-repeat,
    url(https://romasagatool.com/img/bg_blackhalf_right.png) right / 40px calc(100% - 80px)  no-repeat,
    url(https://romasagatool.com/img/bg_blackhalf_center.png) center / calc(100% - 80px) calc(100% - 80px)  no-repeat;
}
.info-modal-header {
    color: beige;
    height: 50px;
    width: 100%;
    padding: 5px;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.name-label {
    color: white;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    background: 
        url(https://romasagatool.com/img/icon/icon_label_left.png) top 50% left 10px  / 23px 15px no-repeat,
        url(https://romasagatool.com/img/icon/icon_label_right.png) top 50% right 10px / 23px 15px no-repeat,
        rgba(40,30,20, 0.7);    
}

.dot-base {
    position:relative;
    display: inline-block;
    width:100px; height:100px;
    text-align: center; 
}
.xdot-base-char {
    left: 19px;
}
.dot-base-circle {
    position:absolute;
    bottom:22px;
    left:10px;
    width:80px;
}
.dot-name-label {
    position:absolute;
    bottom:0;
    width: 95%;
    background-color: rgba(100, 100, 80, 0.8);
    color: white;
    padding: 0px 3px;
    border-radius: 6px;
    font-size: 8px;
    overflow-x: hidden;
}
.dot-nbai-label {
    position:absolute;
    top:0;
    left: -5px;
    height: 20px;
    width: 30px;
    background-color: rgba(100, 100, 80, 0.8);
    color: white;
    padding: 0px 3px;
    border-radius: 6px;
    font-size: 12px;
}

.char-choise-section {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 220px;
}
.weapon-icon-button {
    border: 2px solid rgb(190,185,160);
    border-radius: 10px;
    box-shadow: 0 0px 3px yellow;    
}
@media screen and (max-width:400px) {
    .login-card{
        position:absolute; right:0px; bottom:30px; font-size:12px;
    }    
    .info-card{
        position:absolute; right:0px; bottom:0px; font-size:12px;
    }    
    .styleTab {
        font-size: 15px;
    }
    .rare-icon {
        width:20px;
    }
    .rare-icon-big {
        width:30px;
    }
}
.haikei::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
}
/* 1024からはこっち */
.char-dot-jutsu-icon-div {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    line-height: 15px;
    z-index: 1;
}
@media screen and (min-width:768px) {
    .char-dot-jutsu-icon-div {
        right: 5px;
    }
}

@media screen and (min-width:1024px) {
    
    .haikei::before {
        background: url(https://romasagatool.com/img/bg2nd.jpg) no-repeat;
        background-position:50% 100%;
        /*
        background: url(https://romasagatool.com/img/v2bg.jpg) no-repeat;
        background-position:50% 20%;*/
        background-size:cover;
        }
}
/* 1023まではこっち */
@media screen and (max-width:1023px) {
    .haikei::before {        
        background: url(http://romasagatool.com/img/bg_2nd.jpg) no-repeat;
        background-position:50% 20%;
        /*
        background: url(https://romasagatool.com/img/v2bg.jpg) no-repeat;
        background-position:50% 20%;*/
        background-size:cover;
    }
    .filter-bgcolor {
        border: 1px solid rgb(197,187,147);
    }
    .weapon-bgcolor {
        border: 1px solid rgb(197,187,147);
    }    
}

@media screen and (min-width:400px) {
    .rare-icon {
        width:30px;
    }
    .rare-icon-big {
        width:40px;
    }
}
@media screen and (min-width:300px) {
    .title-text{
        background:url(https://romasagatool.com/img/bg_window_large.png);
        background-size:100% 100%;
        color:#faf0b4;
        padding:5px;
    }
}
@media screen and (min-width:340px) {
    .smallFont {
        font-size: 12px !important;
    }
    .middleFont {
        font-size: 20px !important;
    }
    .title-text{
        background:url(https://romasagatool.com/img/bg_window_large.png);
        background-size:100% 100%;
        color:#faf0b4;
        padding:5px;    
    }
    .rareIconSize {
        width: 35px;
    }
    .icon_ind {
        width: 15px;
    }
}
@media screen and (min-width:310px) {
    .smallFont {
        font-size: 12px !important;
    }
}
.status_plus{
    background-color: rgba(108 , 188,224, 1);
    color: white;
}
.status_minus{
    background-color: rgba(215 , 100,100, 1);
    color: white;
}
.resist_plus{
    color: rgba(108 , 188,224, 1);
}
.resist_minus{
    color: rgba(215 , 100,100, 1);
}
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.nav-link.active,
.nav-item.show .nav-link {
    background-color: #93CBFF !important;
    border-color: #0000FF !important;
}

.dot {
    image-rendering: pixelated;
}

.side-padding-zero {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.opacityWhite {
    background-color: rgba(245, 245, 245, 1);
}
.opacity {
    background-color: rgba(245, 245, 245, 0.8);
}
.opacity_nocheck {
    opacity: 0.6;
}

.opacity-char-back {
    background-color: rgba(131, 5, 5, 0.7);
    border-radius: 20px;
    color:#faf0b4;
}
.char-bottom {
    border-bottom: 2px groove;
}
.ff-menu{
    background: #3378B8;
    opacity: 0.8;
    border: 3px solid #fff;
    border-radius: 8px;
}
.style-bgcolor{
    padding: 20px;
    background: url(https://romasagatool.com/img/background_corner1.jpg),
    url(https://romasagatool.com/img/background_corner2.jpg),
    url(https://romasagatool.com/img/background_corner3.jpg),
    url(https://romasagatool.com/img/background_corner4.jpg),
    url(https://romasagatool.com/img/background_top.jpg),
    url(https://romasagatool.com/img/background_btm.jpg),
    url(https://romasagatool.com/img/background_left.jpg),
    url(https://romasagatool.com/img/background_right.jpg), rgb(230,230,202)
    ;
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,
    repeat-x,repeat-x,repeat-y,repeat-y;
    background-position: 
        top left,top right,bottom left,bottom right,
        top, bottom,left,right
        ;    
}
.style-bgcolor_bk {
    background-color: rgba(230, 225, 207, 1);    
    border-top: 5px ridge rgb(246,236,100);
    border-bottom: 5px ridge rgb(246,236,100);
    padding: 10px 0 10px 0;
}

.label-text-header{
    /* trで使う場合など */
    background:url(https://romasagatool.com/img/bg_window_large.png);
    background-size:100% 100%;
    color:#faf0b4;
    padding:5px;    
}

.label-text{
    padding: 5px;
    background: 
    url(https://romasagatool.com/img/bg_window_corner1.png) top left no-repeat,
    url(https://romasagatool.com/img/bg_window_corner2.png) top right no-repeat,
    url(https://romasagatool.com/img/bg_window_corner3.png) bottom left no-repeat,
    url(https://romasagatool.com/img/bg_window_corner4.png) bottom right no-repeat,
    url(https://romasagatool.com/img/bg_window_top.png) top / calc(100% - 79px) 41px no-repeat,
    url(https://romasagatool.com/img/bg_window_btm.png) bottom / calc(100% - 79px) 41px no-repeat,
    url(https://romasagatool.com/img/bg_window_left.png) left / 41px calc(100% - 79px)  no-repeat,
    url(https://romasagatool.com/img/bg_window_right.png) right / 41px calc(100% - 79px)  no-repeat,
    url(https://romasagatool.com/img/bg_window_center.png) center / calc(100% - 79px) calc(100% - 79px)  no-repeat;
    color: #faf0b4;
}
.bg-black-window{
    padding: 5px;
    background: 
    url(https://romasagatool.com/img/bg_window_corner1.png) top left no-repeat,
    url(https://romasagatool.com/img/bg_window_corner2.png) top right no-repeat,
    url(https://romasagatool.com/img/bg_window_corner3.png) bottom left no-repeat,
    url(https://romasagatool.com/img/bg_window_corner4.png) bottom right no-repeat,
    url(https://romasagatool.com/img/bg_window_top.png) top / calc(100% - 79px) 41px no-repeat,
    url(https://romasagatool.com/img/bg_window_btm.png) bottom / calc(100% - 79px) 41px no-repeat,
    url(https://romasagatool.com/img/bg_window_left.png) left / 41px calc(100% - 79px)  no-repeat,
    url(https://romasagatool.com/img/bg_window_right.png) right / 41px calc(100% - 79px)  no-repeat,
    url(https://romasagatool.com/img/bg_window_center.png) center / calc(100% - 79px) calc(100% - 79px)  no-repeat;
    color: #faf0b4;
}
.bg-simple {
    padding: 5px;
    background: 
    url(https://romasagatool.com/img/bg_simple_corner1.png) top left / 29px 29px no-repeat,
    url(https://romasagatool.com/img/bg_simple_corner2.png) top right / 29px 29px no-repeat,
    url(https://romasagatool.com/img/bg_simple_corner3.png) bottom left / 29px 29px no-repeat,
    url(https://romasagatool.com/img/bg_simple_corner4.png) bottom right / 29px 29px no-repeat,
    url(https://romasagatool.com/img/bg_simple_top.png) top / calc(100% - 56px) 29px no-repeat,
    url(https://romasagatool.com/img/bg_simple_btm.png) bottom / calc(100% - 56px) 29px no-repeat,
    url(https://romasagatool.com/img/bg_simple_left.png) left / 29px calc(100% - 56px)  no-repeat,
    url(https://romasagatool.com/img/bg_simple_right.png) right / 29px calc(100% - 56px)  no-repeat,
    rgba(43,33,12,1);
    color: #faf0b4;
    border-radius: 10px;
    border:none;

}
.label-text-small {
    background: 
    url(https://romasagatool.com/img/bg_window_small_left.png) left / 36px 100% no-repeat, 
    url(https://romasagatool.com/img/bg_window_small_right.png) right / 36px 100% no-repeat, 
    url(https://romasagatool.com/img/bg_window_small_center.png) center / calc(100% - 70px) 100% no-repeat;
    padding: 3px 13px 3px 13px;
    display: inline-block;
    color: #faf0b4;
    -webkit-appearance: none;
    border: 0px;
}
.bg-item {
    background: 
        url(https://romasagatool.com/img/bg_item_left.png) left / 48px 100% no-repeat, 
        url(https://romasagatool.com/img/bg_item_right.png) right / 48px 100% no-repeat, 
        url(https://romasagatool.com/img/bg_item_center.png) center / calc(100% - 94px) 100% no-repeat;
    color: #faf0b4;
    padding: 6px 0px;
}

.label-text_bk{
    background:url(https://romasagatool.com/img/bg_window_large.png);
    background-size:100% 100%;
    color:#faf0b4;
    padding:5px;    
}


.darkButton{
    border: 2px solid #d0c0b0;
    border-radius: 12px;
    padding: 5px;
    color:#faf0b4;
    background: -moz-linear-gradient(to bottom,#e6dcb4, #1c1c16 50%,#e6dcb4); 
    background: -webkit-linear-gradient(to bottom,#e6dcb4, #1c1c16 50%,#e6dcb4); 
    background: linear-gradient(to bottom,#e6dcb4, #1c1c16 50%,#e6dcb4); 
}
.darkButtonShine{
    border: 2px solid #d0c0b0;
    border-radius: 12px;
    padding: 5px;
    color:#faf0b4;
    background: -moz-linear-gradient(to bottom,white, #1c1c16 50%,white); 
    background: -webkit-linear-gradient(to bottom,white, #1c1c16 50%,white); 
    background: linear-gradient(to bottom,white, #1c1c16 50%,white); 
}
.keishoSkillArea{
    margin: 1px 10px 1px 10px;
}
.keishoSkill{
    width: 100%;
    padding: 3px;
    border: 2px solid #91ffd2;
    border-radius: 12px;
    color: #f8f3e6;
    background: -moz-linear-gradient(to bottom,#91aa64, #28140a 50%,#91aa64); 
    background: -webkit-linear-gradient(to bottom,#91aa64, #28140a 50%,#91aa64); 
    background: linear-gradient(to bottom,#91aa64, #28140a 50%,#91aa64); 
}

@keyframes anime {
    0% {color: white; }
    50% {color: red; }
    100% {color: white; }
}


.opacity-even {
    background-color: rgba(245, 245, 245, 1);
    opacity: 0.8;
}
.opacity-odd {
    background-color: rgba(245, 245, 245, 1);
    opacity: 0.9;
}

.haikei_old {
    background: url(https://romasagatool.com/img/bg.jpg) no-repeat;
    width:100%;
    background-size: cover;
}
.dojohaikei {
    background: url(https://romasagatool.com/img/bg_dojo.png);
    padding-top: 10px;
}

body {
    color: #333;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.8;
}            
.kadomaru {
    border-radius: 8px;
    padding-left: 3px;
}
#footer {
    position: fixed;
    bottom: 5px;
    right: 5px;
    height: 150px;
    z-index: 3;
}

.base-footer {
    margin-top: 20px;
    position: relative;
    padding: 0px 15px;
}

#checker-footer {
    position: fixed;
    bottom: 0px;
    z-index: 3;
}

.positionTop-10{
    position: -10px 0 0 0;
}

.damage-label{
    text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
    position: absolute;
    top:50px; 
    margin: 0px; 
    width:calc(100% - 20px);
    color:white;
    font-size:9px;    
}
.style-label{
    color:white; 
    font-size:9px; 
    width:70px;
    background-color: black;
    margin: -10px auto 10px auto; 
    border-radius: 5px;
}
.style-icon-scroll {
    line-height: 0px;
    height: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;    
}

@media screen and (max-width: 768px) { 
    .skillIconList {
        display: inline-block;
        width: 35px;
        height: 35px;
    }
    .skillIconListJotai {
        display: inline-block;
        width: 35px;
        height: 35px;
    }
    .skillIconListJutsu{
        display: inline-block;
        width: 30px;
        height: 30px;
    }
    .xs-hide {
        display: none !important;
    }
    .xs-show {
        display: display !important;
    }
    .xs-pad0 {
        padding: 0px 0px 0px 0px !important;
    }
    .my-col-2or3{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .my-col-1or3{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .keishoSkillArea {
        font-size: 70%;
    }
}
@media screen and (min-width:800px) {
    .skillIconList {
        display: inline-block;
        width: 45px;
        height: 45px;
    }
    .xs-hide {
        display: display !important;
    }
    .xs-show {
        display: none !important;
    }
    .my-col-2or3{
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;        
    }
    .my-col-1or3{
        -ms-flex: 0 0 8.333334%;
        flex: 0 0 8.333334%;
        max-width: 8.333334%;        
    }

}
.pad0{
    padding: 0px !important; 
}
.mar0{
    margin: 0px !important; 
}

.keishoSkillTr {
    border-top:2px solid #faf0b4;
}
#skillArea tfoot {
    border-top:2px solid #faf0b4;
}
.floatLeft {
    text-align: left;
    float: left;
    margin: 0px;
}
.floatRight {
    text-align: right;
    margin: 0px;
}
.auto-start{
    font-size: 200%;
}
.kakuseiCheck{
    -webkit-appearance: none;
    padding:0px;
    color: #faf0b4;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}
.width-100{
    width: 100%;
}

.sorry_cat {
    background: url(https://romasagatool.com/img/dot/ID36a44.png) no-repeat; /* riz */
    background-size: 400px 400px
}
.sorry_center{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    width: 200px;
    height: 64px;      
}
.icon-nemuri {
    display: inline-block;
    width: 65px;
    height: 70px;
    background-position: 0px -320px;
    margin: 0 0 0 0px;
    animation: nemuri 2s steps(1);
}        
.icon-zzz {
    background: url(https://romasagatool.com/img/icon/icon_zzz.png) no-repeat;
    display: inline-block;
    width: 60px;
    height: 60px;
    left: -50px;
    margin: 0 0 0 0px;
    animation: zzz 2s infinite;
}                      
@keyframes nemuri {
    0% { background-position: -80px 0px;}
    25% { background-position: -320px -240px;}
    80% { background-position: 0px -320px;}
    100% { background-position: 0px -320px; }
}
@keyframes zzz {
    0% { transform: scale(0);} /* 1.1 */
    50% { transform: scale(1.5);} /* 5.1 */
    100% { transform: scale(1);} /* 5.1 */
}

/* パソコン・スマホ共通のCSS */
#PageTopBtn {
    position: fixed; /*ボタンの配置場所を固定*/
    bottom: -10px; /*下からのボタンの配置場所を指定*/
    right: 10px; /*右からのボタンの配置場所を指定*/
    z-index: 100;
}
#PageTopBtn a {
    display: block; /*配置の調整*/
    text-decoration: none; /*文字の下線を消す*/
    color: #fff; /*文字の色*/
    background: #00bfff; /*ボタンの背景色*/
    text-align: center; /*文字を中央に配置*/
    outline: none; /*クリックしたときの黒い枠を消す*/
    font-size: 25px;
}
#PageTopBtn a:hover {
    text-decoration: none; 
    background: #87cefa; /*マウスオーバー時の背景色*/
}

/* パソコンで表示する場合のCSS */
@media (min-width: 768px) {
    #PageTopBtn {
        font-size: 13px; /*文字のサイズ*/
    }
    #PageTopBtn a {
        width: 50px; /*ボタンの幅*/
        height: 50px; /*ボタンの高さ*/
        padding: 0px 0; /*文字の配置場所の調整*/
        border-radius: 70%; /*ボタンの角を少し丸くする*/
    }
}

/* スマホで表示する場合のCSS */
@media (max-width: 767px) {
    #PageTopBtn {
        font-size: 10px;
    }
    #PageTopBtn a {
        width: 50px;
        height: 50px;
        padding: 0px 0;
        border-radius: 70%; /*ボタンの角を少し丸くする*/
    }
}
.series-button {
    background-color: rgba(160, 40, 40, 0.6);
    color: white;
    padding: 0px 3px;
    border-radius: 6px;
    border: 1px solid lightcyan;    
    margin-left: 0px;
    font-size: 8px;
}
.style-param-window {
    background-color: rgba(160, 40, 40, 0.6);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid lightcyan;    
}
.style-taisei-window {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid lightcyan;    
}
.style-skill-window {
    color: white;
    margin: 0 20px 0 20px;
    background: url(https://romasagatool.com/img/bg_window.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;    
}

.style-skill-list {
    background: linear-gradient(to left,rgba(38,16,25,1), rgba(56,38,24,1) 10%, rgba(88,66,38,1) 50%, rgba(56,38,24,1) 90%,rgba(38,16,25,1));
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 2px outset gold;    
}

.style-tab-active{
    padding-top: 5px;
    display: inline-block; 
    background:url(https://romasagatool.com/img/icon/icon_tab_active.png) no-repeat; 
    background-size: 100% 100%;
    color: white;
}
.style-tab-disabled{
    padding-top: 5px;
    display: inline-block;
    background:url(https://romasagatool.com/img/icon/icon_tab_disable.png) no-repeat;
    background-size: 100% 100%;
}

.kakashi{
    position: absolute;
    margin-left:60px;
    width:60px;
    height:60px;
    background: url(https://romasagatool.com/img/icon/icon_kakashi.png);
    background-size: cover;    
}
.arrow_box {
    position: relative;
    background: #e6dcb4;
    border-radius: 6px;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #e6dcb4;
    border-width: 30px;
    margin-left: -30px;
}

.font-ss {
    color: rgba(230,216, 150, 1) !important;
}
.font-s {
    color: rgba(200,200, 230, 1) !important;
}
.font-a {
    color: rgba(240,190, 180, 1) !important;
}



/* slider */

input[type=range] {
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}

/* WebKit・Blink向け 溝のスタイル */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #cccccc;
    border-radius: 1.3px;
    border: 1px solid #010101;
}
/* WebKit・Blink向け つまみのスタイル */
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    /* 以下は つまみの縦位置調整 */
    margin-top: -14px;  /* (つまみの高さ - トラックの高さ) / 2 。つまみの高さは border を含む */	
}

/* WebKit・Blink向け focus時のスタイル */
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #999999;
}

/* Firefox向け 溝のスタイル */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #cccccc;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
/* Firefox向け つまみのスタイル */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

/* Edge・IE向け 溝のスタイル */
input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
/* Edge・IE向け 溝の色（つまみより左側） */
input[type=range]::-ms-fill-lower {
    background: #cccccc;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
/* Edge・IE向け 溝の色（つまみより右側） */
input[type=range]::-ms-fill-upper {
    background: #cccccc;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
/* Edge・IE向け つまみのスタイル */
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
/* Edge・IE向け focus時の色（つまみより左側） */
input[type=range]:focus::-ms-fill-lower {
    background: #999999;
}
/* Edge・IE向け focus時の色（つまみより右側） */
input[type=range]:focus::-ms-fill-upper {
    background: #999999;
}

/* Edge・IE向け ポップアップを非表示に */
input[type=range]::-ms-tooltip {
    display: none;
}

/* ラベル*/
.cb label {
    padding-left: 30px;         /* ラベルの位置 */
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

/* ボックス */
.cb label:before {
    content: '';
    width: 25px;            /* ボックスの横幅 */
    height: 30px;           /* ボックスの縦幅 */
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #fff;
    border: solid 2px #333;
    border-radius: 5px 5px 5px 5px;
}
/* 元のチェックボックス非表示 */
.cb input[type=checkbox] {
    display: none;
}
/* チェックした時 */
.cb input[type=checkbox]:checked + label:before {
    content: '\2713';       /* チェックの文字content CSS */
    font-size: 20px;            /* チェックのサイズ */
    color: #fff;            /* チェックの色 */
    background-color: #06f;         /* チェックした時の色 */
}
.hidden {
    display: none;
}
.hidden.pcBlock {
    display: inline;
}
.icon-label {
    border-radius: 5px;
    font-size: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95%;
    height: 10px;
    display: table;
    background-color: rgba(25,25,25,0.8);
    color: white;    
}
.icon-label-inner {
    display: table-cell;
    vertical-align: middle;    
}
@media screen and (max-width: 640px) {
    .hidden.pcBlock {
        display: none;
    }
    .hidden.spBlock {
        display: inline;
    }
}

.fukidashi {
    background:-webkit-gradient(radial, center center, 0, center center, 300, from(rgba(247,241,220,1)), to(rgba(191,183,166,1)));
    background:-webkit-radial-gradient(center, circle cover, rgba(247,241,220,1) 0%, rgba(191,183,166,1) 100%);
    background:-moz-radial-gradient(center, circle cover, rgba(247,241,220,1) 0, rgba(191,183,166,1) 100%);
    background:-o-radial-gradient(center, circle cover, rgba(247,241,220,1) 0, rgba(191,183,166,1) 100%);
    background:radial-gradient(rgba(247,241,220,1) 0, rgba(191,183,166,1) 100%);
    border-radius: 30px;
    color: black;    
}
.bg1{
    background: url(https://romasagatool.com/img/bg_renkei_1.png);
    background-size: contain;
}
.bg2{
    background: url(https://romasagatool.com/img/bg_renkei_2.png);
    background-size: contain;
}
.bg3{
    background: url(https://romasagatool.com/img/bg_renkei_3.png);
    background-size: contain;
}
.bg4{
    background: url(https://romasagatool.com/img/bg_renkei_4.png);
    background-size: contain;
}
.bg5{
    background: url(https://romasagatool.com/img/bg_renkei_5.png);
    background-size: contain;
}
.updatePanel{
    background:url(https://romasagatool.com/img/bg_window_large.png);
    background-size: contain;
    width: 330px;
    height: 33px;
    color: #faf0b4;
    padding: 5px;    
}
.filterActive{
    background-color: #93CBFF !important;
    border: 1px solid #0000FF !important;
    border-radius: 3px;
    color: white !important;;
    text-shadow: 1px 1px 2px blue, -1px 1px 2px blue, 1px -1px 2px blue, -1px -1px 2px blue;    
}

.blueLink{
    background-color: rgba(42,169,239,1);
    color:white;
    margin: 0px 10px;
    padding: 2px 5px;
}

.content-bg {
    background-color: rgba(230, 225, 207, 0.8);
}
.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.trianglelist
,.trianglelist li{
	padding:0px;
	margin:0px;
}
 
.trianglelist li{
	list-style-type:none !important;
	list-style-image:none !important;
}
 
.list5 li{
	position:relative;
}
.list5 li:before{
	content:''; 
	height:0px; 
	width: 100%;
	display:block; 
	position:absolute; 
	bottom:0px; 
	left:0px; 
	border-bottom: 2px dashed #aaa;
}
.articlelist {
    padding-bottom: 15px;
}


.fuchidori{
    color: gold;
    text-shadow: 1px 1px 2px black,
        -1px 1px 2px black,
        1px -1px 2px black,
        -1px -1px 2px black;    
}
.fuchidori-white {
    color:white;
    text-shadow: 1px 1px 2px black,
        -1px 1px 2px black,
        1px -1px 2px black,
        -1px -1px 2px black;    
}
.fuchidori-red {
    color:coral;
    text-shadow: 1px 1px 2px black,
        -1px 1px 2px black,
        1px -1px 2px black,
        -1px -1px 2px black;    
}
.shadow-red {
    text-shadow: 1px 1px 2px red,
        -1px 1px 2px red,
        1px -1px 2px red,
        -1px -1px 2px red;    
}
.shadow-blue {
    text-shadow: 1px 1px 2px blue,
        -1px 1px 2px blue,
        1px -1px 2px blue,
        -1px -1px 2px blue;
}
.shadow-black {
    text-shadow: 1px 1px 2px black,
        -1px 1px 2px black,
        1px -1px 2px black,
        -1px -1px 2px black;    
}
.shadow-white {
    text-shadow: 1px 1px 2px white,
        -1px 1px 2px white,
        1px -1px 2px white,
        -1px -1px 2px white;    
}

.fuchidori-blue{
    color: white;
    text-shadow: 1px 1px 2px blue,
        -1px 1px 2px blue,
        1px -1px 2px blue,
        -1px -1px 2px blue;    
}
.fuchidori-yellow{
    color: yellow;
    text-shadow: 1px 1px 2px red,
        -1px 1px 2px red,
        1px -1px 2px red,
        -1px -1px 2px red;    
}
.fix-bgcolor {
    background-color: darkblue;
}
.kari-bgcolor {
    background-color: darkorchid;
}
.status-bgcolor {
    background-color: rgb(71,56,36);
    color:#faf0b4;
}
.damageNumber {
    font-family: 'Merriweather', cursive;
    font-size:23px;
}

.fuchidoriJewel{
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 2px blue,
        -1px 1px 2px blue,
        1px -1px 2px blue,
        -1px -1px 2px blue;    
}

.bg-cutin {
    background: url(https://romasagatool.com/img/bg_cutin.png);
}
.partyNowStyle .ICON_TD {
    border-top: 2px solid rgba(120, 120, 245, 0.8);
    border-bottom: 2px solid rgba(120, 120, 245, 0.8);
}
.partyNowStyle .ICON_TD::after {
    content: '';/*何も入れない*/
    display: inline-block;/*忘れずに！*/
    width: 36px;/*画像の幅*/
    height: 16px;/*画像の幅*/
    background: url(https://romasagatool.com/img/icon/icon_label_select.png) no-repeat;
    background-size: contain;
    position: absolute;
}

.partyNowStyle .STR,.partyNowStyle .MI {
    border-top: 2px solid rgba(120, 120, 245, 0.8);
    border-bottom: 2px solid rgba(120, 120, 245, 0.8);
}
.partyNowStyle .VIT,.partyNowStyle .AI {
    border-top: 2px solid rgba(160, 160, 245, 0.8);
    border-bottom: 2px solid rgba(160, 160, 245, 0.8);
}
.partyNowStyle .DEX,.partyNowStyle .MND {
    border-top: 2px solid rgba(205, 205, 245, 0.8);
    border-bottom: 2px solid rgba(205, 205, 245, 0.8);
}
.partyNowStyle .AGI,.partyNowStyle .INT {
    border-top: 2px solid rgba(245, 245, 245, 0.8);
    border-bottom: 2px solid rgba(245, 245, 245, 0.8);
}
.partyOtherStyle {
    border-top: 1px dashed #faf0b4;
    opacity: 0.6;
}

/* 画面サイズが768まではこれ */
@media screen and ( max-width:768px) {
    .width-max {
        margin-left: calc(((100vw - 100%) / 2) * -1);
        margin-right: calc(((100vw - 100%) / 2) * -1);    
    }
    .width-max-nobackground{
        background: initial;
    }
}

/* 画面サイズが330まではこれ */
@media screen and ( max-width:329px) {
    .info-modal {
        padding: 0px 15px 25px 15px;
    }
    .info-modal-header {
        height: 50px; padding: 5px; font-size: inherit;
    }
    .dot-base {
        width:50px; height:70px;
    }
    .xdot-base-char {
        left: -7px;
    }
    .dot-base-circle {
        bottom: 6px; left: 2px; width: 48px;
    }
    .dot-name-label {
        bottom: -6px; width: 98%; padding: 0px 3px; font-size: 8px;
    }
    .char-choise-section {
        width: 100%; height: 290px;
    }
    .partyNowStyle .ICON_TD::after {
        left: -5px;
        top: -5px;
    }    
}
/* 画面サイズが330〜400はこれ */
@media screen and (min-width:330px) and ( max-width:400px) {
    .info-modal {
        padding: 0px 15px 30px 15px;
    }
    .info-modal-header {
        height: 50px; padding: 5px; font-size: inherit;
    }
    .dot-base {
        width:60px; height:80px;
    }
    .xdot-base-char {
        left:0px;
    }
    .dot-base-circle {
        bottom: 10px; left: 2px; width: 58px;
    }
    .dot-name-label {
        bottom: -6px; width: 98%; padding: 0px 3px; font-size: 8px;
    }
    .char-choise-section {
        width: 100%; height: 260px;
    }
    .partyNowStyle .ICON_TD::after {
        left: -5px;
        top: -5px;
    }
}
/* 画面サイズが400〜767はこれ(ipadは768なので入れない) */
@media screen and (min-width:400px) and ( max-width:768px) {
    .info-modal {
        padding: 0px 15px 15px 15px;
    }
    .info-modal-header {
        height: 50px; padding: 5px; font-size: inherit;
    }
    .dot-base {
        width:65px; height:80px;
    }
    .xdot-base-char {
        left:0px;
    }
    .dot-base-circle {
        bottom: 10px; left: 3px; width: 65px;
    }
    .dot-name-label {
        bottom: -6px; width: 60px; padding: 0px 3px; font-size: 8px;
    }
    .char-choise-section {
        width: 100%; height: 340px;
    }
    .partyNowStyle .ICON_TD::after {
        left: -5px;
        top: -5px;
    }
}
.partyNowStyle .ICON_TD::after {
    right:0px;
    bottom:0px;
}
.speech-icon {
    position: absolute;
    top: 0;
    right: 0px;
    height: 75px;
}

.FADEIN {
    opacity : 0;
    transform : translate(0, 45px);
    transition : all 1000ms;
}
.FADEIN.FADEIN-SCROLL {
    opacity : 1;
    transform : translate(0, 0);
}



/*============
nav
=============*/
@media screen and (max-width: 767px) {
    h-nav {
        right: -220px;
        width: 80% !important;
    }
    .toggle-btn {
        /*top: 10px;*/
        right: 10px;
    }
    .toggle_btn span {
        width: 20px;
        margin-left: 4px;
    }
}
@media screen and (min-width: 768px) {
    .header-button-list {
        right: 60px;
    }
    .toggle-btn {
        /*top: 55px;*/
        right: 10px;
    }
    .header-area {
        margin-bottom: 54px; 
    }
}
h-nav  {
    display: block;
    position: fixed;
    top: 0;
    right: -80%;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
}
.open h-nav {
    right: 0 !important;
    opacity: 1;
}
h-nav .inner {
    padding: 10px;
    height: 100%;
    color: #faf0b4;
}
h-nav .inner a:link,
h-nav .inner a:visited,
h-nav .inner a:hover,
h-nav .inner a:active {
    color: #faf0b4;
}

h-nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h-nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
}
h-nav .inner ul li a {
    display: block;
    padding-top: 5px;
    text-decoration: none;
    transition-duration: 0.2s;
}

/*============
.toggle-btn
=============*/
.toggle-btn-border {
      border: 1px solid #faf0b4;
      border-radius: 5px;
}
.toggle-btn {
    display: block;
    position: fixed;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 4;
    background-color: rgb(68, 56, 34);  
}
.toggle-btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #faf0b4;
    border-radius: 4px;
    transition: all .5s;
}
.toggle-btn span {
    width: 14px;
    margin-left: 7px;
}
  
.toggle-btn span:nth-child(1) {
    top: 7px;
}
.toggle-btn span:nth-child(2) {
    top: 13px;
}
.toggle-btn span:nth-child(3) {
    bottom: 7px;
}
.open .toggle-btn span {
      background-color: #faf0b4;
}
.open .toggle-btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(6px) rotate(-315deg);
}
.open .toggle-btn span:nth-child(2) {
    opacity: 0;
}
.open .toggle-btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-6px) rotate(315deg);
}
/*============
#mask
=============*/
#mask {
    display: none;
    transition: all .5s;
}
.open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
}
/*============
アコーディオン
=============*/
.acd-check{
    display: none;
}
.acd-label{
    background: #333;
    color: #fff;
    display: block;
    margin-bottom: 1px;
    padding: 3px 10px;
}
.acd-content{
    border: 1px solid #333;
    height: 0;
    opacity: 0;
    padding: 0px 0px 0px 10px;
    transition: .5s;
    visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.series-banner {
    position: absolute;
    height: fit-content;
    font-size: 8px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border: solid 1px lightgoldenrodyellow;
    border-radius: 5px;
    z-index: 1;
}

/* パソコンで表示する場合のCSS */
@media (min-width: 768px) {
    .series-banner {
        bottom: 20px;
        right: 4px;
        padding: 0px 5px;            
    }
}        
/* スマホで表示する場合のCSS */
@media (max-width: 768px) {
    .series-banner {
        bottom: 12px;
        right: 0px;
        padding: 0px 2px;            
    }
}
.gender-male {
    color: skyblue;
}
.gender-famale {
    color: lightcoral;
}
.gender-unknown {
    color: violet;
}

.gender-icon {
    animation: rollkAnime 2s infinite steps(1);
    font-size: 130%;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;            
}
.gender-male-bg {
    background-color: skyblue;
}
.gender-famale-bg {
    background-color: lightcoral;
}
.gender-unknown-bg {
    background-color: violet;
}

.style-header-img-div {
    position: relative;
    max-width: 400px;
    left: 50%;
    transform: translate(-50%, -0%);    
}

.style-header-weapon-icon {
    position: absolute;
    top: 5px;
    left: calc(70%);
}

.style-header-jutsu-icon {
    position: absolute;
    display: inline-block;
    width: 20px !important;
    height: 20px !important;
    background-size: cover !important;
    margin: 0 0 0 0px;    
}

@media screen and (min-width:320px) {
    .style-header-weapon-icon {
        width: 50px;
        height: 50px;    
    }
    .jicon-1 {
        right: 15px;
        top: 10px;
    }
    .jicon-2 {
        right: 22px;
        bottom: 10px;
    }    
}
@media screen and (min-width:360px) {
    .style-header-weapon-icon {
        width: 60px;
        height: 60px;    
    }
    .jicon-1 {
        right: 20px;
        top: 12px;
    }
    .jicon-2 {
        right: 28px;
        bottom: 13px;
    }    
}
@media screen and (min-width:410px) {
    .style-header-weapon-icon {
        width: 70px;
        height: 70px;    
    }
    .jicon-1 {
        right: 27px;
        top: 15px;
    }
    .jicon-2 {
        right: 35px;
        bottom: 18px;
    }
}


