@import url("char_anime.css");
@import url("icon.css");
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.nav-link.active,
.nav-item.show .nav-link {
    background-color: #93CBFF !important;
    border-color: #0000FF !important;
}

.dot {
    image-rendering: pixelated;
}

.side-padding-zero {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.opacityWhite {
    background-color: rgba(245, 245, 245, 1);
}
.opacity {
    background-color: rgba(245, 245, 245, 0.8);
}
.opacity_nocheck {
    opacity: 0.6;
}

.opacity-char-back {
    background-color: rgba(131, 5, 5, 0.7);
    border-radius: 20px;
    color:#faf0b4;
}
.char-bottom {
    border-bottom: 2px groove;
}
.ff-menu{
    background: #3378B8;
    opacity: 0.8;
    border: 3px solid #fff;
    border-radius: 8px;
}
.style-bgcolor {
    background-color: rgba(230, 225, 207, 1);    
    border-top: 5px ridge rgb(246,236,100);
    border-bottom: 5px ridge rgb(246,236,100);
    padding: 10px 0 10px 0;
}
.game-banner{
    border: 4px solid #dcc8b4;
    border-radius: 12px;
    color:#faf0b4;
    background: -moz-linear-gradient(to bottom,#d87242, #520c0b 50%,#d87242); 
    background: -webkit-linear-gradient(to bottom,#d87242, #520c0b 50%,#d87242); 
    background: linear-gradient(to bottom,#d87242, #520c0b 50%,#d87242); 
}
.darkButton{
    border: 2px solid #d0c0b0;
    border-radius: 12px;
    padding: 5px;
    color:#faf0b4;
    background: -moz-linear-gradient(to bottom,#e6dcb4, #1c1c16 50%,#e6dcb4); 
    background: -webkit-linear-gradient(to bottom,#e6dcb4, #1c1c16 50%,#e6dcb4); 
    background: linear-gradient(to bottom,#e6dcb4, #1c1c16 50%,#e6dcb4); 
}
.darkButtonShine{
    border: 2px solid #d0c0b0;
    border-radius: 12px;
    padding: 5px;
    color:#faf0b4;
    background: -moz-linear-gradient(to bottom,white, #1c1c16 50%,white); 
    background: -webkit-linear-gradient(to bottom,white, #1c1c16 50%,white); 
    background: linear-gradient(to bottom,white, #1c1c16 50%,white); 
}
.keishoSkillArea{
    margin: 1px 10px 1px 10px;
}
.keishoSkill{
    width: 100%;
    padding: 3px;
    border: 2px solid #91ffd2;
    border-radius: 12px;
    color: #f8f3e6;
    background: -moz-linear-gradient(to bottom,#91aa64, #28140a 50%,#91aa64); 
    background: -webkit-linear-gradient(to bottom,#91aa64, #28140a 50%,#91aa64); 
    background: linear-gradient(to bottom,#91aa64, #28140a 50%,#91aa64); 
}
.zenryokuAuto{
    color: white;
    text-shadow: 2px 2px 1px #F00,
        -2px 2px 1px #F00,
        2px -2px 1px #F00,
        -2px -2px 1px #F00;    
    width: 100%;
    background:    -moz-linear-gradient(to bottom,#ffff7d, #956400 50%,#ffff7d); 
    background: -webkit-linear-gradient(to bottom,#ffff7d, #956400 50%,#ffff7d); 
    background:         linear-gradient(to bottom,#ffff7d, #956400 50%,#ffff7d); 
}
.zenryokuAuto:active{
    animation: anime 0.2s 0s;  /* アニメーション指定 */
}

@keyframes anime {
    0% {color: white; }
    50% {color: red; }
    100% {color: white; }
}


.opacity-even {
    background-color: rgba(245, 245, 245, 1);
    opacity: 0.8;
}
.opacity-odd {
    background-color: rgba(245, 245, 245, 1);
    opacity: 0.9;
}
.haikei {
    background: url(https://nao-romasaga.github.io/img/bg.jpg) no-repeat;
    width:100%;
    background-size: cover;
}
body {
    color: #333;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    line-height: 1.8;
}            
.kadomaru {
    border-radius: 8px;
    padding-left: 3px;
}
#footer {
    position: fixed;
    bottom: 0;
    height: 150px;
    z-index: 3;
}

.positionTop-10{
    position: -10px 0 0 0;
}

.damage-label{
    text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
    position: absolute;
    top:50px; 
    margin: 0px; 
    width:calc(100% - 20px);
    color:white;
    font-size:9px;    
}
.style-label{
    color:white; 
    font-size:9px; 
    width:70px;
    background-color: black;
    margin: -10px auto 10px auto; 
    border-radius: 5px;
}

@media screen and (max-width: 768px) { 
    .skillIconList {
        display: inline-block;
        width: 35px;
        height: 35px;
    }
    .skillIconListJotai {
        display: inline-block;
        width: 35px;
        height: 35px;
    }
    .skillIconListJutsu{
        display: inline-block;
        width: 30px;
        height: 30px;
    }
    .xs-hide {
        display: none !important;
    }
    .xs-show {
        display: display !important;
    }
    .xs-pad0 {
        padding: 0px 0px 0px 0px !important;
    }
    .my-col-2or3{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .my-col-1or3{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .keishoSkillArea {
        font-size: 70%;
    }
}
@media screen and (min-width:800px) {
    .skillIconList {
        display: inline-block;
        width: 45px;
        height: 45px;
    }
    .xs-hide {
        display: display !important;
    }
    .xs-show {
        display: none !important;
    }
    .my-col-2or3{
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;        
    }
    .my-col-1or3{
        -ms-flex: 0 0 8.333334%;
        flex: 0 0 8.333334%;
        max-width: 8.333334%;        
    }

}
.pad0{
    padding: 0px !important; 
}
.mar0{
    margin: 0px !important; 
}

.keishoSkillTr {
    border-top:2px solid #faf0b4;
}
#skillArea tfoot {
    border-top:2px solid #faf0b4;
}
.floatLeft {
    text-align: left;
    float: left;
    margin: 0px;
}
.floatRight {
    text-align: right;
    margin: 0px;
}
.auto-start{
    font-size: 200%;
}
.kakuseiCheck{
    -webkit-appearance: none;
    padding:0px;
    color: #faf0b4;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}
.width-100{
    width: 100%;
}

.sorry_cat {
    background: url(https://nao-romasaga.github.io/img/36a44.png) no-repeat; /* riz */
    background-size: 400px 400px
}
.sorry_center{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    width: 200px;
    height: 64px;      
}
.icon-nemuri {
    display: inline-block;
    width: 65px;
    height: 70px;
    background-position: 0px -320px;
    margin: 0 0 0 0px;
    animation: nemuri 2s steps(1);
}        
.icon-zzz {
    background: url(https://nao-romasaga.github.io/img/icon_zzz.png?v=1) no-repeat;
    display: inline-block;
    width: 60px;
    height: 60px;
    left: -50px;
    margin: 0 0 0 0px;
    animation: zzz 2s infinite;
}                      
@keyframes nemuri {
    0% { background-position: -80px 0px;}
    25% { background-position: -320px -240px;}
    80% { background-position: 0px -320px;}
    100% { background-position: 0px -320px; }
}
@keyframes zzz {
    0% { transform: scale(0);} /* 1.1 */
    50% { transform: scale(1.5);} /* 5.1 */
    100% { transform: scale(1);} /* 5.1 */
}

/* パソコン・スマホ共通のCSS */
#PageTopBtn {
    position: fixed; /*ボタンの配置場所を固定*/
    bottom: -10px; /*下からのボタンの配置場所を指定*/
    right: 50px; /*右からのボタンの配置場所を指定*/
    z-index: 100;
}
#PageTopBtn a {
    display: block; /*配置の調整*/
    text-decoration: none; /*文字の下線を消す*/
    color: #fff; /*文字の色*/
    background: #00bfff; /*ボタンの背景色*/
    text-align: center; /*文字を中央に配置*/
    outline: none; /*クリックしたときの黒い枠を消す*/
    font-size: 25px;
}
#PageTopBtn a:hover {
    text-decoration: none; 
    background: #87cefa; /*マウスオーバー時の背景色*/
}

/* パソコンで表示する場合のCSS */
@media (min-width: 768px) {
    #PageTopBtn {
        font-size: 13px; /*文字のサイズ*/
    }
    #PageTopBtn a {
        width: 100px; /*ボタンの幅*/
        height: 50px; /*ボタンの高さ*/
        padding: 0px 0; /*文字の配置場所の調整*/
    }
}

/* スマホで表示する場合のCSS */
@media (max-width: 767px) {
    #PageTopBtn {
        font-size: 10px;
    }
    #PageTopBtn a {
        width: 50px;
        height: 50px;
        padding: 0px 0;
        border-radius: 70%; /*ボタンの角を少し丸くする*/
    }
}

.style-param-window {
    background-color: rgba(160, 40, 40, 0.6);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid lightcyan;    
    margin-right: 15px;
}
.style-skill-window {
    color: white;
    margin: 0 20px 0 20px;
    background: url(https://nao-romasaga.github.io/img/bg_window.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;    
}

.style-tab-active{
    padding-top: 5px;
    display: inline-block; 
    height:40px; 
    background:url(https://nao-romasaga.github.io/img/icon/icon_tab_active.png) no-repeat; 
    background-size: 100%;    
}
.style-tab-disabled{
    padding-top: 5px;
    display: inline-block;
    height:40px;
    background:url(https://nao-romasaga.github.io/img/icon/icon_tab_disable.png) no-repeat;
    background-size: 100%;
}







/* slider */

input[type=range] {
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}

/* WebKit・Blink向け 溝のスタイル */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #cccccc;
    border-radius: 1.3px;
    border: 1px solid #010101;
}
/* WebKit・Blink向け つまみのスタイル */
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    /* 以下は つまみの縦位置調整 */
    margin-top: -14px;  /* (つまみの高さ - トラックの高さ) / 2 。つまみの高さは border を含む */	
}

/* WebKit・Blink向け focus時のスタイル */
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #999999;
}

/* Firefox向け 溝のスタイル */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #cccccc;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
/* Firefox向け つまみのスタイル */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

/* Edge・IE向け 溝のスタイル */
input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
/* Edge・IE向け 溝の色（つまみより左側） */
input[type=range]::-ms-fill-lower {
    background: #cccccc;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
/* Edge・IE向け 溝の色（つまみより右側） */
input[type=range]::-ms-fill-upper {
    background: #cccccc;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
/* Edge・IE向け つまみのスタイル */
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
/* Edge・IE向け focus時の色（つまみより左側） */
input[type=range]:focus::-ms-fill-lower {
    background: #999999;
}
/* Edge・IE向け focus時の色（つまみより右側） */
input[type=range]:focus::-ms-fill-upper {
    background: #999999;
}

/* Edge・IE向け ポップアップを非表示に */
input[type=range]::-ms-tooltip {
    display: none;
}

/* ラベル*/
.cb label {
    padding-left: 30px;         /* ラベルの位置 */
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

/* ボックス */
.cb label:before {
    content: '';
    width: 25px;            /* ボックスの横幅 */
    height: 30px;           /* ボックスの縦幅 */
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #fff;
    border: solid 2px #333;
    border-radius: 5px 5px 5px 5px;
}
/* 元のチェックボックス非表示 */
.cb input[type=checkbox] {
    display: none;
}
/* チェックした時 */
.cb input[type=checkbox]:checked + label:before {
    content: '\2713';       /* チェックの文字content CSS */
    font-size: 20px;            /* チェックのサイズ */
    color: #fff;            /* チェックの色 */
    background-color: #06f;         /* チェックした時の色 */
}
